<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}<a href='https://www.freepik.com/vectors/template'>Template vector created by freepik - www.freepik.com</a>{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
